*.swp
*.pyc
*.pkl
*.py~
.pytest_cache
.DS_Store
.idea

*.opensdf
*.sdf
*.user
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.htm
*.egg-info
.cache
*.sublime-project
*.sublime-workspace

.vs/
__pycache__/
output/
x64/
Debug/
Release/external/
gmake/
lib/
external/
Backup/
data/intermediate/

DeepMimicCore/DeepMimicCore.py

# Setuptools distribution and build folders.
/dist/
/build
keys/
logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

MUJOCO_LOG.TXT
test_code.py

msg/
.vscode/
saved_models/